@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Quicksand:wght@400;500;600;700&family=Raleway:wght@600;700;800&display=swap');

.brand{
    font-family: 'Bungee', cursive;
}
.secTitle{
    font-family: 'Raleway', sans-serif;
}
body{
    font-family: 'Quicksand', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;