@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Quicksand:wght@400;500;600;700&family=Raleway:wght@600;700;800&display=swap');

.brand{
    font-family: 'Bungee', cursive;
}
.secTitle{
    font-family: 'Raleway', sans-serif;
}
body{
    font-family: 'Quicksand', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply bg-transparent text-base font-semibold text-primary
}

.default{
    @apply bg-transparent text-base font-medium text-info text-opacity-70 hover:bg-transparent hover:text-primary
}

.myBtn{
    @apply py-1 px-3 border border-primary font-semibold text-primary rounded hover:bg-primary hover:text-base-100 inline-flex items-center gap-1 justify-center
}
.mySecBtn{
    @apply py-1 px-3 border border-accent font-semibold text-accent rounded hover:bg-accent hover:text-base-100 inline-flex items-center gap-1 justify-center
}

.inputField{
    @apply px-3 py-2 rounded-md placeholder:text-sm placeholder:font-semibold bg-primary bg-opacity-10 placeholder:text-info  focus:outline-primary
}
.tabs{
    @apply bg-transparent text-lg
}
.activeTab{
    @apply border-b-2 border-primary text-primary
}